@page "/"
@using EventApp.Models
@using EventApp.Services
@inject ItemService ItemService

<PageTitle>Home</PageTitle>

<main>
    <h1>Hello, world!</h1>

    Welcome to your new app.

    @foreach (var i in items)
    {
        <p>@i.Subject</p>
    }
</main>

@code {
    private List<Item> items = new List<Item>();

    protected override void OnInitialized()
    {
        items = ItemService.GetAll();
    }
}
