@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization

<div class="top-bar p-2 border-bottom d-flex justify-content-between align-items-center">
    <AuthorizeView>
        <Authorized>
            <div>
                Přihlášen: <strong>@context.User.Identity?.Name</strong>
            </div>

            <form method="post" action="/account/logout" @formname="logoutForm">
                <button type="submit" class="btn btn-outline-danger btn-sm">Odhlásit</button>
            </form>
        </Authorized>

        <NotAuthorized>
            <div>Nepřihlášený uživatel</div>
        </NotAuthorized>
    </AuthorizeView>
</div>

@Body