<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Event application" />
    <title>Event App</title>
    <base href="/" />
    @* <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="EventApp.styles.css" /> *@
    <link rel="stylesheet" href="style.css?v=1.0" />
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#4C00A4">
    <HeadOutlet />
</head>

<body>
    <CascadingAuthenticationState>
        <Routes @rendermode="InteractiveServer" />
    </CascadingAuthenticationState>
    <script src="_framework/blazor.web.js"></script>

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/service-worker.js')
                .then(reg => console.log("SW registered", reg))
                .catch(err => console.error("SW failed", err));
        }
    </script>
</body>

</html>
